{% extends 'base.html' %} 
{% block content %}
<p>Buscar por: {{ searchTerm }}</p>
<form action="" class="pb-5">
  <div class="mb-3">
    <label for="searchMovie" class="form-label"> Buscar por género: </label>
    <input type="text" class="form-control" name="searchMovie" />
  </div>
  <button type="submit" class="btn btn btn-secondary">Buscar</button>
</form>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
  {% for movie in movies %}
  <div v-for="movie in movies" class="col">
    <div class="card">
      <img class="card-img-top" src="{{ movie.image.url }}" />
        <div class="card-body">
          <a href="{% url 'detail' movie.id %}">
            <h5 class="card-title fw-bold">{{ movie.title }}</h5>
          </a>
          <p class="card-text">{{ movie.description }}</p>
          {% if movie.url %}
          <a href="{{ movie.url }}" class="btn btn btn-secondary">Pelicula Link</a>
          {% endif %}
        </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %} 